body {
    color: #F0F0F0;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.well {
    background-color: rgba(50, 50, 50, 0.65);
    margin-top: 20px;r
}

#price {
    display: none;
}
